* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Questrial', sans-serif;
}

#wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.content {
  width: 100%;
  position: relative;
  left: 0px;
  z-index: 4;
  float: left;
  box-shadow: 0px 14px 52px 0px rgba(0, 0, 0, 0.04);
  background: #fff;
}

a {
  text-decoration: none;
  text-transform: none;
}

ul {
  list-style: none;
  text-decoration: none;
}


li {
  list-style: none;
}
/* Navbar style */

#my-nav {
  height: 80px;
  
}

.navbar li {
    padding-left: 10px;
}

.navbar .navbar-brand img{
    width: 50px;
    height: 50px;
}



.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}

@media (max-width: 768px) {
    .navbar .navbar-brand img{
        width: 30px;
        height: 30px;
    }
  }

/* Navbar style */




  /* Banner / hero with carousal style */

  /* Banner / hero with carousal style */



/* banner 2/ hero style 2 */
div.hero {
  background: url("../assets/landing-page-assets/hero-img-2.jpg") top center;
  background-size: cover;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: white;

}

div.hero .hero-col {
  z-index: 10;

  margin-top: auto;
  margin-bottom: auto;
}

.hero:before {
  content: "";
  background: rgba(12, 23, 32, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

div.hero h1 {
  font-size: 80px;
  animation: fadeInAnimation ease 8s;
}

div.hero h2 {
  font-size: 38px;
  animation: fadeInAnimation ease 8s;
}

div.hero button {
  border-color: #f1ab3d;
  background-color: #f1ab3d;
  margin-top: 30px;
  width: 40%;
  animation: fadeInAnimation ease 8s;
}


@media (max-width: 768px) {

  div.hero h1 {
    font-size: 40px;

  }

  div.hero .hero-col {
    z-index: 10;
    margin-top: auto;
    margin-bottom: auto;
  }

  div.hero button {
    width: 50%;
    margin-top: 10px;
  }
}

/* banner 2/ hero style 2 */

/* carousal style */
div.hero-carousal img{
  height: 100vh;
  /* opacity: 0.9; */
}

div.carousel-caption {
  position: absolute;
  right: 45%;
  left: 5%;
  top: 60%;
  background-color: rgba(77, 73, 73, 0.7);
  height: 30%;
  text-align: left;
  padding: 20px;
}

div.carousel-caption h1 {
  font-weight: 700;
}

div.carousel-caption h2 {
  font-weight: 700;
}

/* div.carousel-caption {
  transition: opacity .25s ease-in-out;
} */

@media (max-width: 768px) {
  div.hero-carousal img{
    height: 50vh;
  }

}


/* carousal style */


/* Intro style */
div.intro-section {
 background-color: #fff;

 border-top: 4px solid #ccc;

 margin-right: 20px;
 margin-bottom: 60px;
 
}

.intro-section .intro-heading p {
    margin-top: 38px;
    font-size: 40px;
    color: black;
}

.intro-section .intro-heading h1{
  margin-top: 40px;
  font-size: 50px;
  display: flex;
  flex-direction: row;
}

.intro-section .intro-heading h1:before, .intro-section .intro-heading h1:after {
  content: "";
  flex: 5 5;
  border-bottom: 1px solid #f1ab3d;
  margin: auto;
}


.intro-section .intro-para p {
    margin-top: 36px;
    margin-left: 40px;
   
}

.intro-section .intro-logo img{
    margin-top: 10px;
    width: 300px;
    height: 240px;
}


@media (max-width: 768px) {
    .intro-section .intro-para p {
        margin-top: 45px;
        margin-left: 20px;
    }
    
    .intro-section .intro-logo img{
        margin-top: 45px;
        width: 240px;
        height: 180px;
        margin-bottom: 20px;
    }
  }

/* Intro style */

/* Experience Style */
div.experience {
  /* margin-top: 50px; */
  color: #f1ab3d;
  background-color: #1a1a1a;
  padding: 50px 50px;
}

div.experience h2{
  font-size: 50px;
}

div.experience h3{
  font-size: 20px;
}

@media (max-width: 768px) {
  div.experience .experience-item {
    margin-top: 20px;
  }
}

/* Experience Style */


/* Service Style */
/* div.services {

} */

div.services  {
  padding: 20px 20px;
  margin-bottom: 50px;
}

div.services .service-header {
  text-align: center;
  margin-top: 20px;
}

div.services .service-header h1{
  font-size: 50px;
  display: flex;
  flex-direction: row;
}
div.services .service-header h1:before, div.services .service-header h1:after {
  content: "";
  flex: 5 5;
  border-bottom: 1px solid #f1ab3d;
  margin: auto;
}


div.services  .service-row{
  margin-top: 40px;
}


div.services  .service-row .service-item-card h3,p,p{
  line-height: 28px;
}

/* div.services  .service-row .service-item-card img{
  opacity: 0.3;
} */

div.services li {
  font-weight: bold;
}

@media (max-width: 768px) {
  div.services  .service-row .service-item-card {
    font-size: 10px;
    
    margin-top: 22px;
}

div.services  .service-row .service-item-card h3,p,p{
  line-height: 20px;
}

}

/* Service Style */

/* Service Style 3 */
/* div.services  .service-row .service-item{
  opacity: 0.3;
} */

div.services  .service-row .service-item {
 padding-right: 60px;
}

div.services  .service-row .service-item .service-flex{
  display: flex;
 justify-content: space-around;
  
}

div.services  .service-row .service-item .service-flex .service-img{
  margin-right: 20px;
  margin-top: 30px;
}

div.services  .service-row .service-item .service-flex .service-img img{
  width: 80px;
  height: 80px;
}

div.services  .service-row .service-item .service-flex .service-card h3{
  font-weight: 400;
}

@media (max-width: 768px) {
  div.services  .service-row .service-item {
    padding-right: 30px;
    margin-top: 30px;
    line-height: 10px;
   }

   div.services  .service-row .service-item .service-flex .service-img img{
    width: 70px;
    height: 70px;
  }

}

/* Service Style 3 */

/* Quote Style */
div.quote {
  background: url("../assets/landing-page-assets/image_header_2.jpeg") center top no-repeat fixed;
  /* background: url("../assets/landing-page-assets/about-boxes-bg.jpg") center top no-repeat fixed; */
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 90px;
  position: relative; 
  opacity: 0.9;

}

div.quote h1 {
  color: white;
  font-weight: bold;
}

/* Projects style */

div.projects {
  margin-bottom: 50px;
}

div.projects .projects-header {
  text-align: center;
  margin-top: 30px;
}

div.projects .projects-header h1{
  margin-top: 40px;
  font-size: 50px;
    display: flex;
  flex-direction: row;
}

div.projects .projects-header h1:before, div.projects .projects-header h1:after {
  content: "";
  flex: 5 5;
  border-bottom: 2px solid #f1ab3d;
  margin: auto;
}

div.projects .projects-item {
  margin-top: 40px;
}

.projects-item-image {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.projects-item-image:hover .image {
  opacity: 0.1;
}

.projects-item-image:hover .middle {
  opacity: 1;
}

.text {
  /* background-color: #04AA6D; */
  color:  #f1ab3d;
  font-size: 16px;
  padding: 16px 32px;
}

/* Projects style */


/* Client Count Style */
div.client-count {
  background-color: black;
  padding: 40px;
  /* justify-content: center; */
  /* height: 384px; */
}

div.client-count-row {
  padding: 50px 90px;
}

.client-count-item {
  /* float: left; */
  width: 100%;
  color: white; 
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

.client-count-item::before{
      content: '';
      position: absolute;
      width: 1px;
      height: 80px;
      top: 50%; 
      margin-top: -25px;
      right: 0;
      background: rgba(255,255,255,0.21);
}

div.client-count-item-last::before {
  width: 0px;
  height: 0px;
}

.rcicons {
  color: #fff;
  font-size: 2rem;
  /* margin-bottom: 10px; */
}

.num {
  float: left;
  width: 100%;
  font-size: 54px;
  color: #fff;
  font-family: 'Questrial', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  /* padding-top: 10px; */
}

.client-count-item h6 {
  font-size: 13px;
  color: #fff;
  font-family: 'Questrial', sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}

@media (max-width: 768px) {

  .client-count-item:before {
      content: '';
      position: absolute;
      width: 0px;
      height: 0px;
      top: 50%;
      margin-top: -25px;
      right: 0;
      background: rgba(255,255,255,0.21);
}

.client-count-col {
  padding-top: 12px;
}
}

@media only screen and (width: 820px) {
  .client-count-item:before {
      content: '';
      position: absolute;
      width: 0px;
      height: 0px;
      top: 50%;
      margin-top: -25px;
      right: 0;
      background: rgba(255,255,255,0.21);
}
}
/* Client Count Style */

/* Social Table Style */
.social-table {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: #000;
  float: left;
  width: 100%;
  position: relative;
}

.social-table .social-table-item {
  margin: 0 auto;
  max-width: 1224px;
}

.social-table .row .social-table-item{
  float: left;
  padding: 25px 0;
  border-left: 1px solid #fff;
  box-sizing: border-box;
}

.social-table .row .social-table-item:last-child {
  border-right: 1px solid #eee;
}

.social-table a {
  color: #999;
  font-size: 18px;
}



@media (max-width: 768px) {
  div.social-table .row .social-table-item {
      width: 66.3px;
  }
}

/* Social Table Style */




/* Height elementor */
.height-emulator {
  float: left;
  width: 100%;
  position: relative;
  z-index: 1;
  height: 364px;
}

@media (max-width: 768px) {
  .height-emulator {
 
  height: 800px;
}
}

/* Height elementor */

/* Footer Style */
#footer {
  position: fixed;
  bottom: 0;
  left: 0px;
  right: 0;
  padding: 60px 0 0;
  z-index: 2;
  background-color: #000;
}

#footer::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  top: 60px;
  background: #000;
}

#footer .footer-top {
  margin: 0 auto;
  position: relative;
  max-width: 1924px;
  width: 92%;
  padding: 0 0 10px 50px;
  background: #000;
}


.footer-header {
  text-align: right;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 15px;
  float: left;
  width: 100%;
  position: relative;
}

.footer-header span {
  text-align: left;
  font-size: 18px;
  text-transform: capitalize;
  float: left;
  padding-right: 30px;
  position: relative;
  color: #fff;
  font-weight: bold;
  font-family: 'Questrial', sans-serif;
}

.footer-box {
  margin-top: 1px;
  text-align: left;
  float: left;
  width: 100%;
  position: relative;
}

div.footer-box ul {
  padding-left: 0px;
}

.footer-box ul li {
  text-align: left;
  float: left;
  width: 100%;
  font-weight: 400;
  letter-spacing: 1.8px;
  word-spacing: 0;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-size: 14px;
}

div.footer-box p {
  text-align: left;
  float: left;
  width: 88%;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 1.8px;
  word-spacing: 0;
  text-transform: capitalize;
  margin-bottom: 10px;
   text-decoration: none;
  position: relative;
  color: #fff;
  font-size: 13px;
  text-transform: none;
}

.footer-box ul li a {
  text-decoration: none;
  position: relative;
  color: #fff;
  font-size: 13px;
  text-transform: none;
}

/* Policy Style */
.policy-box {
  border-top: 1px solid #eee;
  float: left;
  width: 100%;
  position: relative;
}

.policy-box p {
  text-align: left;
  font-size: 14px;
  text-transform: capitalize;
  margin-top: 10px;
  letter-spacing: 1px;
  font-weight: bold;
  font-family: 'Questrial', sans-serif;
  color: #fff;
}
/* Policy Style */


@media (max-width: 768px) {
  
}


/* Footer Style */